<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/defaultTemplate">

<head> 
	<title>Game Editor</title>
</head>

<body>
	<div layout:fragment="content">
		<form action="#" th:action="@{/products/doGameEdit}" th:object="${productModel}" method="post">
			<div class="container"> 
				<input type="hidden" th:field="${productModel.gameId}" name="id">
				<div class="input-group input-group-lg"> 
					<span class="input-group-text" id="inputGroup-sizing-lg">Game #</span> 
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" th:field="${productModel.gameNo}" placeholder="Game No "
						name="gameNo" required>
							<div class="fieldError">
								<p th:if="${#fields.hasErrors('gameNo')}" th:errors="${productModel.gameNo}">Game Error</p>
							</div>
				</div>
				<br />
				
				<div class="input-group input-group-lg">  
					<span class="input-group-text" id="inputGroup-sizing-lg">Game Name</span>  
						<input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" th:field="${productModel.gameName}" placeholder = "Name" 
						name="Name" required>  
							<div class="fieldError">
								<p th:if="${#fields.hasErrors('gameName')}" th:errors="${productModel.gameName}">Name Error</p>
							</div>
				</div>
				<br />
				
				<div class="input-group input-group-lg">  
					<span class="input-group-text" id="inputGroup-sizing-lg">Prices</span>
						  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" th:field="${productModel.price}" placeholder = "Name"
						   name="price" required>
						    <div class="fieldError">
						    	<p th:if="${#fields.hasErrors('price')}" th:errors="${productModel.price}">Prices</p>
						    </div>
				</div>
				<br />
				<div class="input-group input-group-lg">  
					<span class="input-group-text" id="inputGroup-sizing-lg">Copies</span>  
						  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" th:field="${productModel.quantity}" placeholder = "copy"
						   name="copies" required>  
						    <div class="fieldError">
						    	<p th:if="${#fields.hasErrors('quantity')}" th:errors="${productModel.quantity}">Amount Error</p>
						    </div>
				</div>
				<br />
						    <button type="submit" class="btn btn-crid">Update</button>    
			</div>   
						<div th:if="${#fields.hasErrors('*')}">List of Errors</div>
							<div th:each="err : ${#fields.errors('*')}">
								<span th:text="${err}" class="fieldError"></span>
							</div>           
	</div>     
		</form>

</body>
</html>