<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/LogRegTemplate">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" >
	<title>Login</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" />
	<script src="@{/js/script.js}"></script>
</head>

<body>
	<div class="wave">
		<div class="surf"></div>
		<div class="surf"></div>
	</div>
	<!--Login form -->
<section>
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form action="#" th:action="@{doRegister}" th:object="${registerModel}" method="post">
			<h1>Sign Up</h1>
			<div class="social-container">
				<a href="https://Github.com/jevonkl" target="_blank" class="social"><i class="fab fa-github"></i></a>
				<a href="mailto:jevonkl@gmail.com" target="_blank" class="social"><i class="fab fa-google"></i></a>
			</div>
			<span>Or use your Email to Register</span>
			<label for="firstname">
				<input type="text" th:field="*{userName}" placeholder="Pick a Username..." name="psw" id="psw" required>
			</label>
			<label for="email">
				<input type="email" th:field="*{emailAddress}" placeholder="Email..." name="email" id="email" required>
			<label for="psw-repeat">
				<input type="password" th:field="*{password}" placeholder="Password..." name="psw-repeat" id="psw-repeat" required>
			</label>
			<button type="submit" class="registerbtn" style="margin-top: 9px;">Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
			<form action="#" th:action="@{doLogin}" th:object="${loginModel}" method="post">
				<h1>Sign In</h1>
				<div class="social-container">
					<a href="https://Github.com/jevonkl" target="_blank" class="social"><i class="fab fa-github"></i></a>
					<a href="mailto:jevonkl@gmail.com" target="_blank" class="social"><i class="fab fa-google"></i></a>
				</div>
				<label for="psw">
					<input type="text" placeholder="Enter Username..." name="psw" id="psw" required>
				</label>
				<label for="psw-repeat">
					<input type="password"  placeholder="Enter Password..." name="psw-repeat" id="psw-repeat" required>
				</label>
				<a href="#">Forgot your password?</a>
				<button type="submit" value="Sign In" class="registerbtn">Sign In</button>
			</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Log In</h1>
				<p>Sign in here if you already have an account </p>
				<button type="submit" value="Sign In" class="registerbtn" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Create Account!</h1>
				<p>Sign up if you still don't have an account...</p>
				<button type="submit" value="Sign In" class="registerbtn" id="signUp">Sign In</button>
			</div>
		</div>
	</div>
	</div>
</section>

</body>

</html>